{% extends 'portfolio/base.html' %}


{% block head %}

{% endblock %}

{% block body %}
    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Lance Rogers</h1>
                        <p class="intro-text">Python Engineer<br></p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About</h2>
                <h4 align="Left">Curiosity</h4>
                <p>
                    Growing up I liked to figure out how things worked.
                    I'd take apart everything I could and figure out how to put it
                    back together.  This curiosity led me to trying to fix
                    anything that breaks.  From cars and lawnmowers to computers
                    and cell phones, when they break I try to fix them.
                </p>
                <p>

                </p>
                <h4 align="right">Education</h4>
                <p>
                    In high school I was continually
                    told that if I want to do something I have to have a degree in it.
                    I eventually took it as truth and went to college.  During college
                    I was still learning more outside the classroom than in it.  With
                    the cost of school I decided to take the year off to try and pay for school.
                    I worked a lot and learned a lot.  After a few months I got a job that paid enough
                    for me to quit my part time job and spend my days off inventing, and learning.  I had the
                    need for an App that I couldn't find, so I decided to build it.  I started to teach myself
                    how to program.  After learning SQL, I started teaching myself Java.  After
                    a few weeks I realized I needed to make it my full time job, so I went to the Iron Yard.
                    They had a Python Engineering class starting in a month.  I decided to sign up so it would
                    be easier to learn other programming languages afterward.  I signed up and
                    started a campaign on <a href="http://igg.me/at/4j3KqB4PDvk">IndieGoGO</a> to help with
                    the cost of living.  I raised $380 over my need of $3000 in total donations (on and off site).
                    The Iron Yard was challenging, but well worth it.  By the end of the program I was able
                    to build Cleff, a social network for musicians.

                </p>
                <h4 align="left">Work</h4>
                <p>
                    Since a very young age I have had the desire to work.
                    At eight years old I mowed lawns, washed cars, and rounded up my cousins
                    to help me sell candy and whatever we could find on the side of the road.
                    By 15 I had my first real job working at a <a href="https://foodmarketmaker.com/uploads/71b6c019a0c3ca34687fdb0fa898551b.pdf">buffalo farm</a>.
                    Since then I have always had a strong work ethic, never been fired, and have continued to
                    find extra work on my days off.  While at the Iron Yard I would work seven days a week, 12-14 hours
                    a day, since graduation my work ethic has gotten even better.
                 </p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="portfolio" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Portfolio</h2>
                    <hr ><br />
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="#about" class="btn btn-default btn-lg">My Story</a>
                        </li>
                        <li>
                            <a href="{% url 'portfolio:resume' %}" class="btn btn-default btn-lg">Resume</a>
                        </li>
                        <li>
                            <a href="{% url 'portfolio:projects' %}" class="btn btn-default btn-lg">Projects</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact</h2>
                <hr ><br />
                <h3>864-567-9990</h3>


                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://www.linkedin.com/in/lancekrogers" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/lancekrogers" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="mailto:lancekrogers@lancekrogers.com" class="btn btn-default btn-lg">
                            <span class="network-name">E-Mail</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>



{% endblock %}

