{% extends 'portfolio/non-port-base.html' %}
{% block body %}
<br /> <br /><br /><br /><br /><br />
    <section class="text-center">
<div class="container">

<div class="row">
            <div class="container">
        <div class="cleff">
  <div class="col-md-12"><h1>Cleff</h1><hr/></div>
     <p> Cleff is a social network for musicians.
         The app finds a users location and displays a stream of videos from musicians in their
         local area.  Users essentially build a music resume and post a video of them playing to be
         found.  The app also features two forums and a messaging system for communication which I built.
         This is the app I set out to build when I first started learning how to program and
         by the ninth week of the Iron Yard I felt I had the skills needed to build a prototype version,
         so I made it my final project.
     </p>
    <p><h4><a href="https://github.com/lancekrogers/music-network" class="btn btn-default btn-lg">
        Check Out The Code!</a></h4></p>
    </div> <!-- cleff -->
    <hr/>
    <h3>Tools</h3>
    <h6>Used in Cleff</h6>
<table class="toolstech">
    <tr>
    <td><h4>Django</h4></td>
    <td><h4>Python3</h4></td>
    </tr>
    <tr>
    <td><h4>Git</h4></td>
    <td><h4>POSTGRESQL</h4></td>
    <tr>

    <td><h4>HTML5</h4></td>
    <td><h4>CSS3</h4></td>
    </tr>
    <tr>

    <td><h4>Javascript</h4></td>
    <td><h4>jQuery</h4></td>
    </tr>
    <tr>

    <td><h4>Pillow</h4></td>
    <td><h4>Geo-django</h4></td>
    </tr>
    <tr>
        <td><h4><a href="https://github.com/lancekrogers/django-geoposition">Django-Geoposition</a></h4></td>
        <td><h4>Django Sticky Uploads</h4></td>
    </tr>
    <tr>

    <td><h4>Bootstrap</h4></td>
    <td><h4>Ajax</h4></td>
    </tr>
    <tr>

    <td><h4>Elastic Search</h4></td>
    <td><h4>Haystack</h4></td>
    </tr>


</table>
</div>
    </div>
    </div></div>
        </section><br /><br />

<section class="text-center">
<div class="row">
    <div class="container">


  <div class="col-md-6">
      <hr />
      <h1>Stack-Overflow-Clone</h1><hr/>
    <p>
        This project is from the second week of Django.  The assignment was to choose
        to make either an API for ATUS data, or a clone of
        <a href="http://stackoverflow.com/">stackoverflow</a>.<br />  I chose the stackoverflow project entitled Questions.
        On top of the project guidelines, we were also required to deploy our site onto <a href="https://www.heroku.com/">heroku</a>.
    </p>

    <p><h4><a href="https://stackoverflow-clone-lance.herokuapp.com/" class="btn btn-default btn-lg">
        Checkout the Site</a></h4></p>
    <p><h4><a href="https://github.com/lancekrogers/adventure-time" class="btn btn-default btn-lg">
        Checkout the Code</a></h4></p>
    <hr/>
    <h3>Tools</h3>
    <h6>Used in Stack-Overflow-Clone</h6>
<table class="toolstech">
    <tr>
    <td><h4>Django</h4></td>
    <td><h4>Python3</h4></td>
    </tr>
    <tr>
   <td><h4>POSTGRESQL</h4></td>
   <td><h4>Heroku</h4></td>
    </tr>


</table>
</div>





  <div class="col-md-6">
      <hr />
      <h1>Restaurant App</h1><hr/>
    <p>This Restaurant App was an Iron Yard group assignment that was built 1 week after being introduced to Django.</p> <p>
    The App allows a user to place orders, allows the kitchen to view and complete orders, and allows the owner to customize the menus.
</p>
    <p><h4><a href="http://ec2-54-186-184-87.us-west-2.compute.amazonaws.com" class="btn btn-default btn-lg">
        See it Live!</a></h4></p>
    <p><h4><a href="https://github.com/lancekrogers/team-a-restaurant" class="btn btn-default btn-lg">
        Checkout the Code</a></h4></p>
    <hr/>
    <h3>Tools</h3>
    <h6>Used in Restaurant App</h6>
<table class="toolstech">
    <tr>
    <td><h4>Django</h4></td>
    <td><h4>Python3</h4></td>
    </tr>
    <tr>
    <td><h4>Git</h4></td>
    <td><h4>Bootstrap</h4></td>
    </tr>
    <tr>

    <td><h4>HTML5</h4></td>
    <td><h4>CSS3</h4></td>
    </tr>
    <tr>
    </tr>

</table>
</div>
    </div>
    </div>
    </div>
    </div>
    </section>
</body>







{% endblock %}