container_commands:
 01_migrate:
  command: "source /opt/python/run/venv/bin/activate && python blog_package/manage.py migrate"
   leader_only: true
 02_createsu:
  command: "source /opt/python/run/venv/bin/activate && python blog_package/manage.py createsu"
   leader_only: true
 03_collectstatic:
  command: "source /opt/python/run/venv/bin/activate && python iotd/manage.py collectstatic"

option_settings:
 "aws:elasticbeanstalk:application:environment":
 DJANGO_SETTINGS_MODULE: "blog_package.settings"
 "PYTHONPATH": "/opt/python/current/app/blog_package:$PYTHONPATH"
 "ALLOWED_HOSTS": ".elasticbeanstalk.com"
 "aws:elasticbeanstalk:container:python":
 WSGIPath: blog_package/blog_package/wsgi.py
 NumProcesses: 3
 NumThreads: 20
 "aws:elasticbeanstalk:container:python:staticfiles":
 "/static/": "www/static/"
