.white-h1 {
    color: white;
}

.contact-info {
    font-size: 150%;
}


.skilltable{
    margin: auto;
    width:100%;
    text-align:center;
}
.skilltable  td{
    margin: auto;
    width: 33.3333%;
    text-align:center;
    padding:3%;
}
.sidetext{
    width:50%
}
.toolstech{
    margin: auto;
    width:100%;
    text-align:center;
}
.toolstech.tr{
    margin: auto;
    width:100%;
    text-align:center;
}
.toolstech td {
    margin: auto;
    text-align: center;
    padding: .2%;
    width:50%;
}

.float-right {
    float: right;

}

.float-left {
    float: left;
}

.a-font-overide {
    font-size: 1.15em;
}

.experience-description {
    font-size: .75em;
}

.cleff {
    width: 100%;
    height: 100%;
    background-size: 200%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../static/img/pixel-blue-1500.png");
}